.main-sidebar {
  display: flex;
  flex-direction: column;
  width: 280px;
  transition: width 0.08s;

  @media (max-width: 599px) {
    &:not(.close) {
      position: fixed;
      z-index: 100;
      box-shadow: 0 16px 10px 0 rgb(0 0 0 / 14%), 0 11px 18px 0 rgb(0 0 0 / 12%), 0 13px 5px -1px rgb(0 0 0 / 20%);
      height: 100vh;
      background-color: #202124;
    }
  }

  &.close {
    width: 80px;

    .item {
      &.active {
        width: 48px;
        padding-left: 0;
        margin-left: 12px;
        border-radius: 50%;

        img {
          opacity: 0.87;
        }
      }

      &:hover:not(.active) {
        width: 48px;
        height: 48px;
        padding-left: 0;
        margin-left: 12px;
        border-radius: 50%;
      }
    }
  }

  .item {
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 0 25px 25px 0;
    color: black;
    display: flex;
    align-items: center;
    letter-spacing: 0.01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    width: 100%;
    height: 48px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 12px;
    transition: all 0.08s;

    .pic {
      opacity: 1;
      padding: 0 12px;
    }

    .text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 20px;
    }

    &.active {
      background-color: black;
    }

    &:hover:not(.active) {
      background-color: #FEEFC3;
    }
  }
}

