<section class="main-container">
    <div class="navbar">
        <div class="first-col">
            <div class="pic-container H">
                <img src="./assets/images/svg/menu.svg" class="menu-icon" alt="menu">
            </div>
            <div class="first-col" *ngIf="!isArchiveRoute()">
                <div class="keep-img">
                    <img src="./assets/images/keep.png" width="40">
                </div>
                <div>
                    <span class="text">Keep</span>
                </div>
            </div>

            <div>
                <span class="text" *ngIf="isArchiveRoute()">Archive</span>
            </div>
        </div>

        <div class="sec-col">
            <div class="form-container">
                <form class="form input-container" [class.background]="isFocused">
                    <input id="search" name="search" class="input" autocomplete="off" [(ngModel)]="searchQuery"
                           (input)="onSearchInputChange()"
                           (blur)="onBlur()" (focus)="onFocus()" placeholder="Search" value="" type="text">
                    <button class="btn left" aria-label="Clear search" type="button">
                        <img class="pic H" src="./assets/images/svg/search.svg" alt="x-btn">
                    </button>
                    <button #Btn class="btn" aria-label="Clear search" type="button" (click)="clearSearchField()"
                            hidden>
                        <img class="pic H" src="./assets/images/svg/x-btn.svg" alt="x-btn">
                    </button>
                </form>
            </div>
            <div class="btns-container">
                <div class="search H pop" data-pop="Search"></div>
                <div class="refresh H pop" data-pop="Refresh"></div>
                <div class="view H pop" data-pop="List view"></div>
                <div class="settings H pop disabled" data-pop="Settings"></div>
            </div>
        </div>

        <div class="th-col">
            <div class="apps H disabled pop" data-pop="Google Apps"></div>
            <div class="user-pic-container">
                <img class="user-pic" src="./assets/images/user.jpg">
            </div>
        </div>
    </div>
</section>
