.main-container {
  padding: 8px 8px;
  box-shadow: inset 0 -1px 0 0 #dadce0;

  .navbar {
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;

    .first-col {
      min-width: 232px;
      display: flex;
      align-items: center;
      height: 48px;

      @media (max-width: 612px) {
        min-width: auto;
      }

      .pic-container {
        margin: 0 4px;
        padding: 12px;
        width: 48px;
        height: 48px;

        .menu-icon {
          margin-bottom: 12px;
          color: black;
        }
      }

      .text {
        color: #5f6368;
        font-family: "Product Sans", Arial, sans-serif;
        font-size: 22px;
        vertical-align: middle;
        top: 0.5px;
        line-height: 24px;
        padding-left: 8px;
        position: relative;
      }

      @media (max-width: 500px) {
        .keep-img,
        .text {
          display: none;
        }
      }
    }

    .sec-col {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      align-items: center;

      @media (max-width: 405px) {
        justify-content: start;
      }

      .form-container {
        padding-left: 10px;
        padding-right: 30px;
        width: 100%;

        @media (max-width: 794px) {
          display: none;
        }

        .form {
          background: rgba(241, 243, 244, 0.24);
          max-width: 722px;
          border-radius: 8px;
          border: 1px solid transparent;
          position: relative;


            height: 48px;
            padding: 0;

            overflow: hidden;
            background: #f1f3f4;
            border: 1px solid transparent;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            margin-left: auto;
            margin-right: auto;
            max-width: 720px;

            .input {
              background: transparent;
              border: none;
              font: normal 16px sans-serif;
              -webkit-font-variant-ligatures: none;
              font-variant-ligatures: none;
              height: 46px;
              outline: none;
              width: 100%;
              box-sizing: border-box;
              margin-left: 56px;
              margin-right: 49px;

              &:focus-visible {
                outline-width: 0;
              }

              &::placeholder {

                font-weight: 100;
              }
            }


          .btn {
            width: 56px;
            height: 46px;
            background: none;
            border: none;
            position: absolute;
            top: 0;
            right: 0;

            &.left {
              left: 0;
            }
          }

          .pic {
            padding: 8px;
          }
        }
      }

      .btns-container {
        display: flex;

        .refresh {
          @extend %icons;
          background-image: url(/assets/images/svg/refresh.svg);
        }

        .view {
          @extend %icons;
          background-image: url(/assets/images/svg/view.svg);
        }

        .settings {
          @extend %icons;
          background-image: url(/assets/images/svg/settings.svg);
        }

        .search {
          @extend %icons;
          background-image: url(/assets/images/svg/search.svg);
          opacity: 1 !important;
          display: none;

          @media (max-width: 794px) {
            display: block;
          }
        }
      }
    }

    // third col
    .th-col {
      display: flex;
      align-items: center;
      height: 48px;
      padding: 0 4px 0 28px;

      @media (max-width: 405px) {
        display: none;
      }

      .apps {
        @extend %icons;
        background-image: url(/assets/images/svg/apps.svg);
        position: relative;
        right: 2px;
      }

      .user-pic-container {
        padding: 4px 6px;
        display: inline-block;

        .user-pic {
          border-radius: 50%;
          height: 32px;
          width: 32px;
          margin-bottom: 1px;
        }
      }
    }
  }
}

%icons {
  height: 48px;
  width: 48px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: opacity 0.218s linear;
  position: relative;

  &:hover {
    opacity: 0.87;
  }

}

.pic:hover{
  background: red; /////
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.background{
  background: red;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px 0 rgba(65,69,73,.3), 0 1px 3px 1px rgba(65,69,73,.15);
}
