.container{
  height: 177px;
  width: 600px;
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  z-index: 1;
}

.noteText{
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
}

.drop-els-selected{
  letter-spacing: .01428571em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  border: 1px solid transparent;
  padding: 5px 10px 5px 17px;
  color: #3c4043;
  height: 100%;
  vertical-align: top;
}
.dropdownSelected {
  background-color: #fff;
  min-width: 8.4875em; /* 7.8vw converted to em */
  min-height: 2.16em; /* 13.5vh converted to em */
  border-width: 0;
  box-shadow: 0 0.0625em 0.125em 0 rgba(60, 64, 67, 0.302), 0 0.125em 0.375em 0.125em rgba(60, 64, 67, 0.149);
  position: absolute;
  -webkit-border-radius: 0.25em; /* 4px converted to em */
  border-radius: 0.25em; /* 4px converted to em */
  z-index: 5003;
  padding: 0.375em 0; /* 6px converted to em */
  opacity: 1;
  left: 16.1em; /* 356px converted to em */
  top: 2.25em; /* 277px converted to em */
  overflow-y: hidden;

}
 .noteText {
  width: 100%;
  margin: 10px 0 0 15px;
}

.material-icons-outlined {
  color: #5f6368;
}

.small-icon {
  color: black;
  font-size: 1.1rem;
}

.material-icons-outlined {
  padding: 10px;
}
.hover:hover {
  background: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.78rem;
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 5px;
  white-space: nowrap;
  border-radius: 5px;
  visibility: hidden;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.note-title {
  border: none;
  font-size: 1rem;
  height: 100%;
  padding: 10px;
  margin-left: 10px;
  width: 100%;
  margin-right: 10px;
  outline: none;
}

.note-text {
  border: none;
  font-size: 1rem;
  height: 100%;
  padding: 10px;
  margin-left: 10px;
  width: 100%;
  margin-right: 10px;
  outline: none;
}

.form-actions {
  display: flex;
}

.form-actions .icons {
  display: flex;
  margin-left: 14em;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 63px;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #5f6368;
  margin-right: 1em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
}

.material-icons-outline {
  color: #5f6368;
}

